@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Roboto:wght@400;500;700&family=Rubik+Spray+Paint&family=Tangerine:wght@700&family=Ubuntu:wght@300;400;700&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --navbar-height:3rem;
  --page-height:calc(100vh - var(--navbar-height));
  /* D8D9DA */
  /* FFF6E0 */
}
body{
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 2px;
}
h1,h2,h3,h4,h5,h6{
  text-transform: capitalize;
  font-family: 'Roboto',sans-serif;
  color: #272829;
  text-transform: capitalize;
}
h1{
  font-size: 3rem;
}
h3{
  font-size: 1.5rem;
}
p{
  font-family: 'Varela Round',sans-serif;
}
h1.logo{
font-family: 'Lobster', cursive;
}
button{
  text-transform: capitalize;
  padding: .75rem 2rem;
      background-color: #f8d696;
    border-radius: 5px;
    border: none;
}
.page{
  background-color: #404243; 
  /* width: 100vw; */
  min-height: 100vh;
}
